/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-dark.css";
.blueFont {
    color: blue;
}

.bold {
    font-weight: bold;
}

.control-header {
    padding: 15px 10px;
    background: #0084e7;
    color: #ffffff;
    button {
        font-size: 1rem;
        padding: 5px;
        color: #0084e7;
        border: none;
        border-radius: 5px;
        background-color: #ffffff;
        &:hover {
            background-color: #e4e4e4;
            font-weight: bold;
        }
    }
}

.ag-header-cell-label {
    span {
        margin: 0 auto;
    }
}

.ag-cell-value {
    white-space: pre-wrap;
    &.padding-top-20 {
        padding-top: 20px;
    }
    &.padding-top-5 {
        padding-top: 5px;
    }
}

.ag-status-bar-left {
    span {
        font-size: 1rem;
    }
}

.ag-paging-panel {
    span {
        font-size: 1rem;
        div {
            span {
                &::before {
                    font-size: 1.2rem;
                    vertical-align: bottom;
                }
            }
        }
    }
}